@font-face {
    font-family: "Px437 IBM VGA8";
    src: url("Px437_IBM_VGA8.ttf") format("truetype");
}

body {
    background-color: #00A8AF;
    font-family: "Px437 IBM VGA8";
}

.title-card {
    box-shadow: 1em 1em black;
    color: white;
    text-align: center;
    background-color: #0000AF;
    padding-bottom: 1em;
    padding-left: 2em;
    padding-right: 2em;
    border-radius: 0%;
    margin-bottom: 4em;
    margin-top: 4em;
}

.links a {
    color: #fff;
}

.links a:hover {
    color: #fff;
    text-decoration: none;
}

.links a:visited {
    color: purple;
}

.wait {
    color: #0000AF;
}

.gallery {
    border-style: double;
    border-color: rgb(178, 178, 196);
    margin: 0.1em;
    padding: 1em;
}

@media only screen and (min-width: 736px) {
    .album-description {
        width: 75% !important;
    }
}

@media only screen and (min-width: 992px) {
    .album-description {
        width: 50% !important;
    }
}